---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 04 Aug 2020 18:04:37 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2086449594"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=308678761"}]}]}'
  recorded_at: Tue, 04 Aug 2020 18:04:37 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596564277,"sunrise":1596542532,"sunset":1596593380,"temp":83.44,"feels_like":75.78,"pressure":1023,"humidity":15,"dew_point":31.12,"uvi":10.81,"clouds":26,"visibility":10000,"wind_speed":7,"wind_deg":56,"wind_gust":20,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1596564000,"temp":83.44,"feels_like":73.6,"pressure":1023,"humidity":15,"dew_point":31.12,"clouds":26,"visibility":10000,"wind_speed":10.87,"wind_deg":16,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1596567600,"temp":87.28,"feels_like":75.99,"pressure":1018,"humidity":17,"dew_point":37.18,"clouds":15,"visibility":10000,"wind_speed":15.14,"wind_deg":22,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1596571200,"temp":90.19,"feels_like":80.69,"pressure":1014,"humidity":18,"dew_point":41,"clouds":9,"visibility":10000,"wind_speed":13.27,"wind_deg":35,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&query=Denver,CO%2BClouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=4948&query=Denver%2CCO%2BClouds>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&query=Denver%2CCO%2BClouds>;
        rel="next"
      X-Total:
      - '49476'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":49476,"total_pages":4948,"results":[{"id":"GABxDPKmamc","created_at":"2020-01-30T13:25:24-05:00","updated_at":"2020-03-14T01:04:04-04:00","promoted_at":null,"width":4240,"height":2832,"color":"#131B24","description":null,"alt_description":"white
        clouds over the city","urls":{"raw":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1NDc0OX0","full":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1NDc0OX0","regular":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1NDc0OX0","small":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1NDc0OX0","thumb":"https://images.unsplash.com/photo-1580408597610-51b1ad419857?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1NDc0OX0"},"links":{"self":"https://api.unsplash.com/photos/GABxDPKmamc","html":"https://unsplash.com/photos/GABxDPKmamc","download":"https://unsplash.com/photos/GABxDPKmamc/download","download_location":"https://api.unsplash.com/photos/GABxDPKmamc/download"},"categories":[],"likes":20,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"JjLq3q-fYAo","updated_at":"2020-07-27T19:57:19-04:00","username":"paysonwick","name":"Payson
        Wick","first_name":"Payson","last_name":"Wick","twitter_username":null,"portfolio_url":"http://paysonwick.com","bio":"Trying
        to capture the world the way that I see it.\r\n\r\nAlways looking to collaborate
        & friends for adventures.","location":"Denver","links":{"self":"https://api.unsplash.com/users/paysonwick","html":"https://unsplash.com/@paysonwick","photos":"https://api.unsplash.com/users/paysonwick/photos","likes":"https://api.unsplash.com/users/paysonwick/likes","portfolio":"https://api.unsplash.com/users/paysonwick/portfolio","following":"https://api.unsplash.com/users/paysonwick/following","followers":"https://api.unsplash.com/users/paysonwick/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1592491014223-9ec59c5dd84cimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1592491014223-9ec59c5dd84cimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1592491014223-9ec59c5dd84cimage?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"paysonwick","total_collections":2,"total_likes":41,"total_photos":45,"accepted_tos":true},"tags":[{"type":"search","title":"outdoors"},{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Nature produces
        the most astoundingly beautiful images: the swirling lava of a volcano, palm
        trees against a blue sky, snow-capped mountains towering above. Unsplash has
        magnificent , high-quality photos of all the delights that nature has to offer.","meta_title":"100+
        Nature Pictures | Download Free Images & Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature pictures. Download HD nature photos for free
        on Unsplash.","cover_photo":{"id":"VE5FRc7uiC4","created_at":"2018-10-15T04:58:20-04:00","updated_at":"2020-05-14T01:16:30-04:00","promoted_at":"2018-10-15T08:23:00-04:00","width":4640,"height":3480,"color":"#989EAF","description":"lost
        in the sky","alt_description":"star in space","urls":{"raw":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.u[...]
