---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&query=Denver,CO%2BRain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=880&query=Denver%2CCO%2BRain>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&query=Denver%2CCO%2BRain>;
        rel="next"
      X-Total:
      - '8796'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":8796,"total_pages":880,"results":[{"id":"COFHE5jbC5s","created_at":"2019-12-12T13:19:45-05:00","updated_at":"2020-05-14T01:25:48-04:00","promoted_at":null,"width":3968,"height":2976,"color":"#F4F7F3","description":"Denver
        Central Market on a rainy evening.","alt_description":"cars parked in front
        of Denver Central Market building","urls":{"raw":"https://images.unsplash.com/photo-1576174732301-348275c4151c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE1NDc0OX0","full":"https://images.unsplash.com/photo-1576174732301-348275c4151c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1NDc0OX0","regular":"https://images.unsplash.com/photo-1576174732301-348275c4151c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE1NDc0OX0","small":"https://images.unsplash.com/photo-1576174732301-348275c4151c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE1NDc0OX0","thumb":"https://images.unsplash.com/photo-1576174732301-348275c4151c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE1NDc0OX0"},"links":{"self":"https://api.unsplash.com/photos/COFHE5jbC5s","html":"https://unsplash.com/photos/COFHE5jbC5s","download":"https://unsplash.com/photos/COFHE5jbC5s/download","download_location":"https://api.unsplash.com/photos/COFHE5jbC5s/download"},"categories":[],"likes":35,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"jVGnjy5TC54","updated_at":"2020-07-14T12:41:45-04:00","username":"jenspeter","name":"Jens
        Peter Olesen","first_name":"Jens Peter","last_name":"Olesen","twitter_username":"creaticdesign","portfolio_url":"https://www.creatic.design","bio":"Graphic
        designer and world traveller.","location":"Copenhagen, Denmark","links":{"self":"https://api.unsplash.com/users/jenspeter","html":"https://unsplash.com/@jenspeter","photos":"https://api.unsplash.com/users/jenspeter/photos","likes":"https://api.unsplash.com/users/jenspeter/likes","portfolio":"https://api.unsplash.com/users/jenspeter/portfolio","following":"https://api.unsplash.com/users/jenspeter/following","followers":"https://api.unsplash.com/users/jenspeter/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1554546870692-3c6ee502a86b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1554546870692-3c6ee502a86b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1554546870692-3c6ee502a86b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"norouteexplore","total_collections":16,"total_likes":422,"total_photos":48,"accepted_tos":true},"tags":[{"type":"search","title":"automobile"},{"type":"landing_page","title":"car","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"things","pretty_slug":"Things"},"subcategory":{"slug":"car","pretty_slug":"Car"}},"title":"Car
        Images & Pictures","subtitle":"Download free car images","description":"Choose
        from a curated selection of car photos. Always free on Unsplash.","meta_title":"Best
        500+ Car Photos [Spectacular] | Download Car Images & Pictures - Unsplash","meta_description":"Choose
        from hundreds of free car pictures. Download HD car photos for free on Unsplash.","cover_photo":{"id":"m3m-lnR90uM","created_at":"2017-04-14T00:59:12-04:00","updated_at":"2020-07-21T01:31:00-04:00","promoted_at":"2017-04-14T13:20:15-04:00","width":5357,"height":3164,"color":"#E0E4EF","description":"I
        shot this while doing a job for a luxury automotive storage facility in Baltimore,
        MD. I wanted to create an ominous sense of intrigue, giving the feeling of
        a space that was both expansive and enclosed. I enjoy the journey my eyes
        take from the focal point of t[...]
