---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&exclude=minutely&lat=33.441792&lon=-94.037689&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1596449094,"sunrise":1596454228,"sunset":1596503643,"temp":68.67,"feels_like":72.16,"pressure":1015,"humidity":88,"dew_point":64.98,"uvi":9.97,"clouds":1,"visibility":10000,"wind_speed":3.15,"wind_deg":354,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1596448800,"temp":68.67,"feels_like":72.16,"pressure":1015,"humidity":88,"dew_point":64.98,"clouds":1,"visibility":10000,"wind_speed":3.15,"wind_deg":354,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.29},{"dt":1596452400,"temp":68.43,"feels_like":71.55,"pressure":1015,"humidity":89,"dew_point":65.07,"clouds":5,"visibility":10000,"wind_speed":3.89,"wind_deg":336,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.21},{"dt":1596456000,"temp":68.7,"feels_like":72.19,"pressure":1016,"humidity":90,"dew_point":65.66,"clouds":12,"visibility":10000,"wind_speed":3.69,"wind_deg":330,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon[...]
