---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&exclude=minutely&lat=33.441792&lon=-94.037689&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1596559662,"sunrise":1596540671,"sunset":1596589990,"temp":80.67,"feels_like":82.89,"pressure":1018,"humidity":57,"dew_point":64.04,"uvi":10.86,"clouds":1,"visibility":10000,"wind_speed":4.7,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1596556800,"temp":80.67,"feels_like":83.26,"pressure":1018,"humidity":57,"dew_point":64.04,"clouds":1,"visibility":10000,"wind_speed":4.03,"wind_deg":346,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1596560400,"temp":81.43,"feels_like":83.07,"pressure":1018,"humidity":53,"dew_point":62.67,"clouds":1,"visibility":10000,"wind_speed":4.72,"wind_deg":331,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1596564000,"temp":83.61,"feels_like":83.82,"pressure":1017,"humidity":45,"dew_point":60.03,"clouds":0,"visibility":10000,"wind_speed":5.44,"wind_deg":326,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}[...]
